<app-topo [mudarLado]=jogoNaoAcabou></app-topo>
<div *ngIf="jogoNaoAcabou">
    <app-painel (encerrarJogoEvent)="telaFinal($event)"></app-painel>
</div>
<div *ngIf="!jogoNaoAcabou" class="row centralizar">
    <div *ngIf="!foiVitoria">
        <h1>Infelizmente você perdeu. Try again!</h1>
        <button type="button" class="btn btn-primary" style="width: 25%; height: 25%;" (click)="reiniciarJogo()">Reiniciar</button>
    </div>
    <div *ngIf="foiVitoria" class="row centralizar">
        <h1>Congratulations on winning! Jogue novamente.</h1>
        <button type="button" class="btn btn-primary" style="width: 25%; height: 25%;" (click)="reiniciarJogo()">Reiniciar</button>
    </div>    
</div>
   
